H1{
    color: red;
}

img{
    height: 400px;
    width: 400px;
}

#thirdDiv{
    height: 600px;
    width: 500px;
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    padding: 50px;
    color: white;
    border-color: red;
    border-width: 10px;
    border-style: double;
}
#spanID{
    font-size: 18px;
    margin: 50px;
}


